body {
}
#abt {
    filter: blur(2px);
    background-position: center center;
    height: 700px;
    width:unset;
    background-image: url("code_wallpaper.jpg");
    background-size: cover;
}
#text {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 10px;
    text-align: center;

}
#mar {
    margin-top: 0.5em;
    margin-bottom: 0.25em;

}
#edu {

    background-position: center center;
    height: 700px;
    width: unset;
    background-image: url("BBB.jpg");
    background-size: cover;
}
.container {
    position: relative;
    height: 600px;
    width: unset; /* Maximum width */
    margin: 0 auto; /* Center it */
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

    .container .content {
        position: absolute; /* Position the background text */
        bottom: 0; /* At the bottom. Use top:0 to append it to the top */
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1; /* Grey text */
        width: 100%; /* Full width */
        padding: 20px; /* Some padding */
    }